In [1]:
#Introduction to List data type
#List is mutable data type
#how to declare a list ---> []

students=['srinivas','rama','hari','geetha']
print(students)

['srinivas', 'rama', 'hari', 'geetha']

In [3]:
#indexing ---> indexing always starts with 0,1,2,3,4....
#indexing method will be used to specify a element in the list
#requirement ---> identify hari from the list
#srinivas - 0; rama - 1, hari - 2, and geetha - 3
print(students[2])

hari

In [4]:
print(students [3])

geetha

In [16]:
print(students[1][2])---> Need your help to understand, why I'm getting m. Requirement was 2 names using indexing?

m

In [18]:
# How to add a component 
print(students[3].title())

Geetha

In [19]:
print(students)

['srinivas', 'rama', 'hari', 'geetha']

In [22]:
#Requirement is to give a message to a student
message=f"keep up the good work, {students[3].title()}"
print(message)

keep up the good work, Geetha

In [23]:
#With title case
print(message.title())

Keep Up The Good Work, Geetha

In [24]:
# with upper case
print(message.upper())

KEEP UP THE GOOD WORK, GEETHA

In [25]:
#with smaller case
print(message.lower())

keep up the good work, geetha

In [26]:
print(students)

['srinivas', 'rama', 'hari', 'geetha']

In [29]:
#adding an element
#Elements always starts with 1,2,3,4,....
#requirement is to add giri into the list
students.append('giri')
print(students)

['srinivas', 'rama', 'hari', 'geetha', 'giri']

In [31]:
students.append('bheema')
print(students)

['srinivas', 'rama', 'hari', 'geetha', 'giri', 'bheema']

In [33]:
#requirement is the add bhoomi in 2nd index position
students.insert(2,'bhoomi')
print(students)

['srinivas', 'rama', 'bhoomi', 'giri', 'hari', 'geetha', 'giri', 'bheema']

In [34]:
print(students)

['srinivas', 'rama', 'bhoomi', 'giri', 'hari', 'geetha', 'giri', 'bheema']

In [35]:
print(students[2])

bhoomi

In [36]:
print(students[5])

geetha

In [42]:
students.insert(1, 'raghu')
print(students)

['srinivas', 'raghu', 'rama', 'bhoomi', 'giri', 'hari', 'geetha', 'giri', 'bheema']

In [44]:
#requirement is to replace rama with askhay

students[1]= 'akshay'
print(students)

['srinivas', 'akshay', 'rama', 'bhoomi', 'giri', 'hari', 'geetha', 'giri', 'bheema']

In [48]:
#requirement is to replace giri with radha
students[5]= 'radha'
print(students)

['srinivas', 'akshay', 'rama', 'bhoomi', 'giri', 'radha', 'geetha', 'giri', 'bheema']

In [49]:
#requirement is to delete giri from the list
print(students)

['srinivas', 'akshay', 'rama', 'bhoomi', 'giri', 'radha', 'geetha', 'giri', 'bheema']

In [53]:
#Pop() - Deflaut last element will be deleted
#Pop(1) - Indexing - it will start from 0,1,2... likewise it will delete the element

print(students)
students.pop(1)

['srinivas', 'akshay', 'rama', 'bhoomi', 'giri', 'geetha', 'giri', 'bheema']

'akshay'

In [54]:
students.pop()

'bheema'

In [55]:
students.pop(0)

'srinivas'

In [56]:
print(students)

['rama', 'bhoomi', 'giri', 'geetha', 'giri']

In [61]:
students.insert(0,'akshay')
print(students)

['akshay', 'rama', 'akshay', 'bhoomi', 'giri', 'geetha', 'giri']

In [62]:
students.insert(4,'divya')

In [63]:
print(students)

['akshay', 'rama', 'akshay', 'bhoomi', 'divya', 'giri', 'geetha', 'giri']

In [64]:
students.pop()

'giri'

In [65]:
print(students)

['akshay', 'rama', 'akshay', 'bhoomi', 'divya', 'giri', 'geetha']

In [66]:
students.insert(7,'jaya')
print(students)

['akshay', 'rama', 'akshay', 'bhoomi', 'divya', 'giri', 'geetha', 'jaya']

In [67]:
students.remove('jaya')
print(students)

['akshay', 'rama', 'akshay', 'bhoomi', 'divya', 'giri', 'geetha']

In [68]:
#requirement is to organizing the list by alphabetic order
print(students)

['akshay', 'rama', 'akshay', 'bhoomi', 'divya', 'giri', 'geetha']

In [69]:
students.sort()
print(students)

['akshay', 'akshay', 'bhoomi', 'divya', 'geetha', 'giri', 'rama']

In [70]:
# requirement is to remove a element from the list
students.remove('akshay')
print(students)

['akshay', 'bhoomi', 'divya', 'geetha', 'giri', 'rama']

In [72]:
print(sorted(students))

['akshay', 'bhoomi', 'divya', 'geetha', 'giri', 'rama']

In [75]:
# requirement is to sort by reverse order --> Z to A
students.reverse()

In [74]:
print(students)

['rama', 'giri', 'geetha', 'divya', 'bhoomi', 'akshay']

In [77]:
#how to find the lenght of the list
len(students)

6